.cardOutter :global(.ant-card) {
  max-width: 530px;
  margin: 0 auto;
  border: 8px solid #e2e7f4;
  border-radius: 0;
}

.cardOutter :global(.ant-card-body) {
  padding: 0;
}

.cardInner {
  border: 1px solid blue;
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.login :global(.ant-form-item-control-input-content),
.signup :global(.ant-form-item-control-input-content),
.forget :global(.ant-form-item-control-input-content) {
  display: flex;
  justify-content: center;
}
