/* Tailwind css */
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.quill {
  width: 100%;
  height: 100%;
}

.ant-upload.ant-upload-select.ant-upload-select-picture-card {
  margin-left: 8px;
  width: 224px;
  height: 250px;
  max-height: 250px;
}

/* .ant-upload.ant-upload-select.ant-upload-select-picture-card > img {
  height: 250px;
} */
